<h1>Listing outages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @outage.each do |outage| %>
      <tr>
        <td><%= outage.outage_id %></td>
        <td><%= outage.description %></td>
        <td><%= outage.location %></td>
        <td><%= outage.start_date %></td>
        <td><%= outage.end_date %></td>
        <td><%= outage.address %></td>
        <td><%= outage.affected_customers %></td>
      </tr>
  <% end %>
</table>