<p>
  <strong>Outage Id:</strong>
  <%= @outage.outage_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outage.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @outage.location %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @outage.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @outage.end_date %>
</p>

<%= link_to 'All outages', outages_path %>